{% extends 'base.html.twig' %}

{% block title %} Listagem de Séries!!{% endblock %}

{% block body %}
    <h1>{% trans %}series.home{% endtrans %}</h1>

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert"> {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <a class="btn btn-success mb-3" href={{ path("series-create-form") }}>{% trans %}series.add{% endtrans %}</a>
    <ul class="list-group">
        {% for serie in series %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    {% if serie.coverImagePath  %}
                        <img alt="Image de capa da serie {{ serie.name|e }}"
                             class="img-thumbnail me-2"
                             width="100"
                             src={{ asset('uploads/cover_image/') ~ serie.coverImagePath }}
                        >
                    {% endif %}
                    <a href={{ path("app_season", {id:serie.id}) }}>{{ serie.name|e }}</a>
                </div>
                <form method="post" action={{ path('series-delete', {id:serie.id}) }}>
                    <input type="hidden" name="_method" value="DELETE">

                    <div class="d-flex">
                        <a href="{{ path("series-update-form", {id:serie.id})}}" class="btn btn-sm btn-primary me-1">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
