{% extends 'base.html.twig' %}

{% block title %} Seasons {% endblock %}

{% block body %}
        <h1>Temporadas da série "{{ serie }}"</h1>

        {% if coverImage  %}
                <img alt="Image de capa da serie {{ serie }}"
                     class="img-fluid mb-2"
                     src={{ asset('uploads/cover_image/') ~ coverImage }}
                >
        {% endif %}
        
        <ul class="list-group">
            {% for s in seasons %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href={{ path("app_episode", {id: s.id}) }}>Temporada {{ s.number }}</a>
                        <span class="badge bg-dark">{{ s.episodes|length }}</span>
                </li>
            {% endfor %}
        </ul>
{% endblock %}
