<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
</head>
<body>
    <div class="container rounded-3 p-5 w-75 mt-5 bg-black bg-opacity-10 d-flex align-items-center justify-content-center">
        <h1 class="display-5 p-3">Faça seu Login</h1>

        <form action="{{ path('app_login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="mb-2">
                <label for="username" class="form-label">Email:</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
            </div>

            <div class="mb-2">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" class="form-control" name="_password">
            </div>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"> #}

            <button type="submit" class="btn btn-success">Login</button>
            <a class="btn btn-primary" href="{{ path('app_register') }}">Registrar-se</a>

        </form>
    </div>
</body>
</html>
