<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/vendors-node_modules_fortawesome_fontawesome-free_css_all_css.css') }}">
    </head>
    <body>
        <div class="container-fluid bg-black d-flex justify-content-between align-items-end">
            <nav class="navbar navbar-brand">
                <a class="link-light nav-link" href="{{ path('series') }}">Início</a>
            </nav>
            <div class="d-flex justify-content-between align-items-end">
                <span class="text-light me-lg-3">{{ userLogged.userIdentifier }} </span>
                <a class="link-light nav-link" href={{ path('app_logout') }}>Sair</a>
            </div>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
